# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_BLUENRG_LP=y

# Enable MPU
CONFIG_ARM_MPU=n

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=16000000

# enable pinmux
CONFIG_PINMUX=y

# enable GPIO port
CONFIG_GPIO=y

CONFIG_GEN_ISR_TABLES=y

CONFIG_CONSOLE=y
CONFIG_SHELL=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_INTERRUPT_DRIVEN=y

CONFIG_SHELL=y
CONFIG_SHELL_LOG_LEVEL_INF=y
CONFIG_GPIO_SHELL=y

CONFIG_ADC=y