# SPDX-License-Identifier: Apache-2.0

# Zephyr Kernel Configuration
CONFIG_SOC_SERIES_BLUENRG=y

# Platform Configuration
CONFIG_SOC_BLUENRG_LP=y

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=120000000

# # Enable MPU
# CONFIG_ARM_MPU=y

# # Serial Drivers
# CONFIG_SERIAL=n
# CONFIG_UART_INTERRUPT_DRIVEN=n
# # enable console
# CONFIG_CONSOLE=n
# CONFIG_UART_CONSOLE=n

# # GPIO Controller
# CONFIG_GPIO=n

# # Enable Clocks
# CONFIG_CLOCK_CONTROL=y

# # enable pin controller
# CONFIG_PINCTRL=n
