# Copyright (c) 2019 Lexmark International, Inc.
# Copyright (c) 2019 Stephanos Ioannidis <root@stephanos.io>
# SPDX-License-Identifier: Apache-2.0

if SOC_BLUENRG

config SOC
	default "st_bluenrg"

config NUM_IRQS
	default 32

config NUM_GPIOS
	default 25

config PINMUX_BLUENRG
	bool
	default y
	depends on PINMUX

config UART_BLUENRG
	bool
	default y
	depends on SERIAL

config SPI_BLUENRG
	bool
	default y
	
endif # SOC_BLUENRG
