# Copyright (c) 2019 Lexmark International, Inc.
# Copyright (c) 2019 Stephanos Ioannidis <root@stephanos.io>
# SPDX-License-Identifier: Apache-2.0

config SOC_BLUENRG
	bool "BlueNRG"
	select ARM
	select CPU_CORTEX_M0
	select SOC_FAMILY_BLUENRG
	select BLUENRG
	select HAS_BLUENRG_HAL
	select CPU_CORTEX_M_HAS_SYSTICK
	select CORTEX_M_SYSTICK
	select SERIAL
	select CLOCK_CONTROL
	select SERIAL_SUPPORT_INTERRUPT